/venv
.env
*logs
*output
/catboost_info
/lib
/lib64
/bin
pyvenv.cfg
backtest-data-*.csv
backtest-graph-*.png

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class
