/venv
.env
/__pycache__
/logic/__pycache__
/sub-old/__pycache__
/sub-beta/__pycache__
/catboost_info
/*.csv
*.pyc
*.pyo
/catboost-multi
/models
/market_timer/TCN/*.pt
/market_timer/TCN/*.json
__pycache__/
/market_timer/graphs